<div class="container-fluid">
  <div class="row">
    <div class="col-1">
      <div class="row">
        <div class="col">
          <p class="themeSwitchLabel">Light/Dark</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="themeSwitch" checked>
            <label class="custom-control-label" for="themeSwitch"></label>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <app-location-input></app-location-input>
    </div>
  </div>
</div>
