<nav class="navbar navbar-expand">
  <p class="themeSwitchLabel mr-2">
    <fa-icon [icon]="faSun" class="sun"></fa-icon>
  </p>
  <div class="custom-control custom-switch">
    <input
      type="checkbox"
      class="custom-control-input"
      id="themeSwitch"
      (change)="changeTheme()"
      [(ngModel)]="isDarkTheme"
    >
    <label class="custom-control-label" for="themeSwitch"></label>
  </div>
  <p class="themeSwitchLabel">
    <fa-icon [icon]="faMoon" class="moon"></fa-icon>
  </p>
  <app-location-input></app-location-input>
</nav>

