.btn {
  font-size: 2rem;
}

.dropdown-item {
  background-color: transparent;
}

.btn:focus {
  box-shadow: none;
}

button:disabled {
  cursor: not-allowed;
}

input {
  background-color: var(--secondary-color);
}

input:focus {
  background-color: var(--secondary-color);
}
