::-webkit-scrollbar {
  width: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: var(--border-2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

.row {
  background-color: #12121294;
  color: var(--font-color);
  border-radius: var(--border-2);
  overflow-x: scroll;
  p {
    margin: 0rem;
  }
}
