.card {
  background-color: var(--secondary-color);
  height: 40vh;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 20px 20px 30px;
  padding: 1rem;
}

.card-title {
  font-size: 1.8rem;
}

.currentTemp {
  font-size: 1.4rem;
}

.removeBtn {
  color: var(--danger);
}
