<ng-template [ngIf]="weatherData" [ngIfElse]="loading">
  <div
    class="card"
    [appDynamicBackground]="geoLocation.options.background"
    *ngIf="!isSettings"
  >
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-2">
            <button class="btn text-muted" (click)="isSettings = !isSettings">
              <fa-icon [icon]="faCogs"></fa-icon>
            </button>
          </div>
          <div class="col-2">
            <button *ngIf="currentLocationIndex !== 0" class="btn text-danger" (click)="onRemoveClick(geoLocation)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </div>
          <div class="col d-flex justify-content-end">
            <img src="https://openweathermap.org/img/wn/{{ weatherData.weather.icon }}.png" width="50" height="50">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p><strong>{{ weatherData.lastUpdated | date:'EEE, h:mm aaa' }}</strong></p>
            <h4 class="card-title">{{ geoLocation.name }}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="card-text currentTemp">{{ weatherData.temp }} ℃</p>
            <p *ngIf="currentLocationIndex === 0"><strong>Current location</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-city-weather-settings
    *ngIf="isSettings"
    [currentLocationIndex]="currentLocationIndex"
    (locationSettingChangeEvent)="geoLocation.options = $event"
    (closeEvent)="isSettings = false"
  >
  </app-city-weather-settings>
</ng-template>
<ng-template #loading>
  <p>Loading...</p>
</ng-template>
