

.btn {
  font-size: 1.7rem;
}

.dropdown-menu {
  background-color: var(--secondary-color);
}

.btn:focus {
  box-shadow: none;
}

button:disabled {
  cursor: not-allowed;
}

.card-title {
  font-size: 1.8rem;
}

.currentTemp {
  font-size: 1.4rem;
}

.dropdown-item {
  background-color: transparent;
}
