/* You can add global styles to this file, and also import other style files */
:root {
  --success-color: #61b15a;
  --succes-secondary-color: #adce74;
  --border-2: 2rem;
  --box-shadow-primary: rgba(0, 0, 0, 0.35) 20px 20px 30px;
}

.darkTheme {
  --primary-color: #222831;
  --secondary-color: #393e46;
  --font-color: #fff;
}

.lightTheme {
  --primary-color: white;
  --secondary-color: var(--light);
  --font-color: var(--dark);
}

html, body {
  height: 100%;
}

body {
  background-color: var(--primary-color);
  color: var(--font-color);
}

.input {
  border-radius: var(--border-2);
}

.btn:hover {
  opacity: 50%;
}

.form-control {
  background-color: var(--primary-color);
  color: var(--font-color);
  border: none;
}

.form-control:focus {
  background-color: var(--primary-color);
  color: var(--font-color);
  border: none;
}

.card {
  height: 350px;
  background-color: var(--secondary-color);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--border-2);
  border-style: none;
  border-width: 0px;
  box-shadow: var(--box-shadow-primary);
  padding: 1rem;
  color: black;
}
