/* You can add global styles to this file, and also import other style files */
:root {
  --success-color: #61b15a;
  --succes-secondary-color: #adce74;
}

.darkTheme {
  --primary-color: #222831;
  --secondary-color: #393e46;
  --font-color: #fff;
}

.lightTheme {
  --primary-color: white;
  --secondary-color: var(--light);
  --font-color: var(--dark);
}

html, body {
  height: 100%;
}
body {
  background-color: var(--primary-color);
  color: var(--font-color);
}

.form-control {
  background-color: var(--primary-color);
  color: var(--font-color);
  border: none;
}

.form-control:focus {
  background-color: var(--primary-color);
  color: var(--font-color);
  border: none;
}
