/* You can add global styles to this file, and also import other style files */
:root {
  --success-color: #00b248;
  --succes-secondary-color: #66ffa6;
}

.darkTheme {
  --primary-color: #263238;
  --secondary-color: #4f5b62;
  --font-color: #fff;
}

.lightTheme {
  --primary-color: var(--light);
  --secondary-color: var(--white);
  --font-color: var(--dark);
}

html, body {
  height: 100%;
}
body {
  background-color: var(--primary-color);
  color: var(--font-color);
}
